#MainBar {
    position: static;
    border: 3px solid #004aad;
    background-color:#004aad;    
}

#catchphrase{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    
    position: absolute;
    top: 25;
    left: 130;
    width: 200px;
    height: 100px;

}
#icons{    
    column-count: 5;
    column-fill: #004aad;
    column-width: 20px;           
}

#Advertisement{
    background-color:#004aad;
    height: 300;  
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#TrendingItems{
    background-color:#004aad;
    height: 200;  
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}